body {
    background-image: url("../Imagenes/FB_IMG_1715964283264.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: hotpink;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    position: relative;
}

header h1 {
    color: rgb(14, 15, 14);
    font-size: 280%;
}

header h1 span {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 10px;
}

nav {
    background-color: rgb(75, 3, 53);
    position: fixed;
    top: 210px;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: left;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(100, 20, 70);
}

.container {
    padding: 20px;
    text-align: center;
}

.container img {
    height: auto;
    margin: 20px 0;
    max-width: 100%;
}

h2 {
    font-size: 250%;
    margin: 20px 0;
}

h3 {
    color: blue;
    font-size: 250%;
    margin: 20px 0;
}

footer {
    background-color: #f1f1f1;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    position: relative;
}

footer .social-icon {
    height: 24px;
    width: 24px;
}

footer .social-media {
    margin: 10px 0;
}

footer a {
    color: #0000EE;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 10px 0;
}

#panty {
    color: greenyellow;
    background-color: red;
}

.container {
    display: flex;
    background-color: whitesmoke;
    margin: 20px;
    height: 40px;
    width: 60px;
    content: flex;
    flex-direction: row-reverse;
}

.Brasier {
    background-color: blue;
}

.Panty {
    background-color: blue;
}

.Conocenos {
    background-color: blue;
}
