/* Estilos generales */
body {
    background-color: #fce4ec;
    font-family:cursive;
    background-image: url('../Imagenes/BackGround.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Navbar */
.navbar-custom {
    background: linear-gradient(to right#5245e1 #5245e1);
    color: #290a76;
}
.navbar-logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}
.nav-link {
    color: #5a0a4c;
    font-weight: bold;
}
.nav-link:hover {
    color: #fff;
}

/*Social Icons for Navbar */
.social-icon i {
    font-size: 1.5rem;
    color: #5a0a4c;
    transition: color 0.3s;
}
.social-icon i:hover {
    color: #fff;
}

/* Hero section */
.hero-section {
    color: #5a0a4c;
    padding: 3rem 1rem;
    font-family: cursive;
}
.carousel img {
    height: 300px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
/* Card Styles*/
.info-card {
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animaciones */
}

.info-card:hover {
    transform: scale(1.05); /* Efecto zoom */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/*Social Icons Styles For Info Card*/
.social-icon {
    font-size: 2.5rem; /* Tamaño del ícono */
    margin-top: -25px;
    transition: color 0.3s ease; /* Animación de color */
}
.social-icon:hover {
    color: #ff0050; /* Color general para hover (puedes cambiar según marca) */
}
.bi-tiktok {
    color: #000; /* Negro para TikTok */
}
.bi-tiktok:hover {
    color: #ff0050; /* Rojo de TikTok al pasar cursor */
}
.bi-whatsapp {
    color: #25D366; /* Verde para WhatsApp */
}
.bi-whatsapp:hover {
    color: #128C7E; /* Verde oscuro al pasar cursor */
}
.castores-img {
    max-width: 100%;
    height: auto;
}