/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../Imagenes/FB_IMG_1715964283264.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header Styles */
header {
    background-color: hotpink;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: rgb(14, 15, 14);
    font-size: 280%;
}

header h1 span {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 10px;
}

/* Navigation Styles */
nav {
    position: sticky;
    top: 0%;
    background-color: rgb(75, 3, 53);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(100, 20, 70);
}

/* Main Styles */
.container {
    text-align: center;
    padding: 20px;
}

.container img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

h2 {
    font-size: 250%;
    margin: 20px 0;
}

h3 {
    color: blue;
    font-size: 250%;
    margin: 20px 0;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 40px;
}

footer .social-media {
    margin: 10px 0;
}

footer .social-media a {
    margin: 0 10px;
}

footer .social-icon {
    width: 24px;
    height: 24px;
}

footer p {
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color: #0000EE;
}

footer a:hover {
    text-decoration: underline;
}
